<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">



<suite name="My Suite" verbose="2"   thread-count="5">
  
   		<test name="Some Workflow Tests 1"  thread-count="5" parallel="none">
    		<classes>
    			<class name="Master.CRMExecution"/>
    			<class name="Master.OrdersExecution1"/>
    		</classes>
  		</test>
  <!-- Test -->
</suite> 